<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="../static/fontawesome/css/all.css" th:href="@{/fontawesome/css/all.css}">
<link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
<body>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form class="form-signin"  name="f" th:action="@{/signin}" method="post">
                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <div class="group">
                        <label class="label" for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Username">
                    </div>
                    <div class="group">
                        <label class="label" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="group">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>
