<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
<script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
<script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
<script type="text/javascript" src="/static/app/orders.controller.js" th:src="@{/app/orders.controller.js}"></script>
<body ng-app="app" ng-controller="OrderController as vm">
<header th:insert="fragments.html :: nav"></header>
<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <!-- Get all orders -->
            <div class="btn-group" role="group">
                <button sec:authorize="hasRole('ADMIN')" ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
                <button sec:authorize="hasRole('USER')" ng-click="vm.getAll()" type="button" class="btn btn-default">My Orders</button>
            </div>
            <!-- Display orders in a table -->
            <table sec:authorize="isAuthenticated()" class="table">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Order Date</th>
                    <th  sec:authorize="hasRole('ADMIN')" style="width: 90px"></th>
                    <th  sec:authorize="hasRole('ADMIN')" style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in vm.orders">
                    <td>{{order.title}}</td>
                    <td>{{order.username}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.dtOrder}}</td>
                    <td sec:authorize="hasRole('USER')">
                        <button class="btn btn-danger" ng-click="vm.deleteOrder(order.idOrder)">Delete</button>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <button class="btn btn-success" ng-click="vm.changeOrderStatus(order.idOrder, '1')">Accept</button>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <button class="btn btn-danger" ng-click="vm.changeOrderStatus(order.idOrder, '2')">Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
